# Hidden and temporary files
.*
*~

# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
MANIFEST
*.egg-info

# test files
repressilator.sbml
test_readme.txt

# Sphinx documentation
docs/_build/
docs/**/*.ipynb
